/* MAIN */



.main{
	display: flex;
	flex-direction: column;

    align-items: center;
   	justify-content: center;

	height: 600px;
    text-align: center;
	background-image: url("../images/iportado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
   opacity: 0.6px;

  
 	
}
.mainTittle{
	
	margin: 0 auto;
	border-radius: 10px;
	color: black;
	font: bold 2.8em 'Open Sans', sans-serif;
	color: beige;
    font: bold 2.8em 'Open Sans', sans-serif;
   	margin-left: 66px;
    margin-right: 66px;



}

.mainButton{


	border: none;
	padding: 12px 28px;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s;
	color: white;
	margin-top: 73px;
 font: bold 1.3em 'Open Sans', sans-serif;
    background-color: #4da3f8;
    border-color: #4da3f8;

}






@media (min-width: 960px){
	.main{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}